<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmdwP491CVbUGM1DbIN3JjdV6xJRhVJC0</string>
	<key>GCM_SENDER_ID</key>
	<string>102059245609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracking</string>
	<key>PROJECT_ID</key>
	<string>expense-tracking-4b765</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracking-4b765.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102059245609:ios:7310cb22ceacf47f839c38</string>
</dict>
</plist>